html,body{height: 100%;color: #3e3a39;}
html {font-family: '微软雅黑', Helvetica, STHeiTi, Arial, sans-serif; -webkit-text-size-adjust: 100%;font-size: 64px;}
*{-webkit-box-sizing: border-box;box-sizing: border-box;word-wrap: break-word;margin: 0;padding: 0;}
body{-webkit-overflow-scrolling: touch;font-size: 0.32rem;}
em{font-style: normal}
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {display: block}
audio, canvas, progress, video { display: inline-block; vertical-align: baseline}
audio:not([controls]) { display: none; height: 0}
svg:not(:root) {overflow: hidden}
a{background: transparent; text-decoration: none; -webkit-tap-highlight-color: transparent;color: #3e3a39}
a:active{background: transparent}
img{border: 0; vertical-align: middle}
body,button, input,select, textarea,h1, h2, h3, h4, h5, p, form, blockquote,ul, ol, li, dl, dd {margin: 0}
button {overflow: visible}
button, select {text-transform: none}
input[type="search"] {-webkit-appearance: textfield;-webkit-box-sizing: border-box; box-sizing: border-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration,input[type=text] {-webkit-appearance: none}
textarea {overflow: auto; resize: vertical}
table {border-collapse: collapse; border-spacing: 0}
ul, ol, li, dl, dd,td, th{padding: 0}
ul, ol {list-style: none}
h1, h2, h3{font-weight: normal}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: #3e3a39;font-family: '微软雅黑'}
input[type=button], input[type=submit], input[type=file], button { cursor: pointer; -webkit-appearance: none;border-radius:0;}
input{outline:0;}
.fl{float: left;}
.fr{float: right;}
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }


/*支付完成*/
.pay-qr{
    padding:0.32rem 0.47rem;
    border-top:1px solid #d2d2d2;
    border-bottom:1px solid #d2d2d2;

}
.pay-qr .fl{
    width: 6.25rem;
}
.pay-qr .fl .pay-time{
    font-size: 0.375rem;
    color:#ec0d1d ;
    padding-bottom:0.16rem ;
}
.pay-qr .fl .pay-num{
    font-size: 0.375rem;
    color:#090200 ;
    padding-bottom:0.16rem ;
}
.pay-qr .fl .pay-miss{
    font-size: 0.375rem;
    color: #535151;
}
.pay-qr .fr{
    width:2.28rem;
    height: 2.28rem;
    overflow: hidden;
}
.pay-qr .fr img{
    width:2.28rem;
    height: 2.28rem;
}

.top-line{
    border-top: 0.2rem solid #f7f7f7;
}
.dan-list{
    padding:0.23rem 0.47rem;
    border-top:1px solid #d2d2d2;
    border-bottom:1px solid #d2d2d2;
    position: relative;
}
.dan-list .coco{
    width:2rem;
    height: 1.56rem;
    margin-right: 0.375rem;
}
.dan-list .coco-title{
    color: #221815;
    font-size: 0.44rem;
    padding-top: 0.18rem;
}
.dan-list .coco-place{
    color: #ec0d1d;
    font-size: 0.44rem;
    padding-top: 0.18rem;
}
.dan-list .coco-place s{
    color: #636161;
    font-size: 0.28rem;
}
.dan-list .coco-num{
    position: absolute;
    right:0.47rem;
    top:0.75rem;
    color: #636161;
    font-size: 0.44rem;
}
.pay-list li{
    padding:0.36rem 0.47rem;
    border-bottom:1px solid #c8c8c8;
    font-size: 0.44rem;
    color: #221815;
}
.pay-list .dd-hao{
   font-size: 0.38rem;

}
.pay-list .li-first{
    color: #878787;
    font-size: 0.44rem;
}
.t-orange{
    color:#ff7b00
}
.pay-list .iphone{
    padding-right: 0.2rem;
}
.pay-list .kh-tell img{
    width:0.55rem;
    height: 0.55rem;
    vertical-align:-2px;
}
.pay-list .dan-zt{
    display: inline-block;
    width: 7rem;
    color: #999;
    font-size: 0.32rem;
    padding-top: 0.2rem;
    text-align: right;
}
/*下载引导页*/
.loading{
    width: 100%;
    height: 100%;
    background: url("../images/bj.jpg")no-repeat 100% / cover;
    position: relative;
}
.loading .ios img{
    width: 5.33rem;
    min-height: 100%;
    height: auto;
}
.loading .load-title{
    color: #158bf8;
    font-size:0.57rem;
    text-align: center;
    padding-top: 0.8rem;
}
.loading .ios{
    display: inline-block;

    position: absolute;
    bottom: 2.85rem;
    left: 50%;
    margin-left: -2.665rem;
}
.loading .android img{
    width: 5.33rem;
    height: 1.27rem;
}
.loading .android{
    display: inline-block;

    position: absolute;
    bottom: 1.15rem;
    left: 50%;
    margin-left: -2.665rem;
}

.btn-h{
    display: inline-block;
    text-align: center;
    width: 1.8rem;
    height: 0.8rem;
    line-height: 0.8rem;
    border: 1px solid #ff7b00;
    color: #ff7b00;

}
.btn-g{
    display: inline-block;
    text-align: center;
    width: 1.8rem;
    height: 0.8rem;
    line-height: 0.8rem;
    border: 1px solid #008000;
    color: #008000;
}
.anniu{
    padding:0.47rem;
    font-size: 0.4rem;
}

.pay-zhuangtai{
    padding:0.9rem 0 1.1rem;
    text-align: center;
    background-color: #f7f7f7;
}
.pay-zhuangtai img{
    width: 1.96rem;
    height: 1.96rem;
}
.pay-zhuangtai p{
    color: #221815;
    font-size: 0.625rem;
    margin-top: 0.25rem;
}
.pay-list .area-con{
    width: 7rem;
   color: #999;
    font-size: 0.37rem;

}
.install{
    width: 100%;
    height: 100%;
    background-color: #fff;
    text-align: center;
}
.install .install-top{
    width: 100%;
}
.install .logoo{
    width:4.28rem ;
    height: 4.03rem;
   margin-top: 0.8rem;
}
.install .apple{
    display: inline-block;
    font-size: 0.625rem;
    color: #333;
}
.install .apple img{
    width:0.55rem;
    height: 0.66rem;
    vertical-align: -0.1rem;
    margin-right: 0.1rem;
}
.install .apple span{
    display: inline-block;
    width:1.34rem;
    height:0.5rem ;
    line-height: 0.5rem;
    color: #fff;
    font-size: 0.34rem;
    background-color: #4aade8;
    border-radius: 0.1rem;
    vertical-align: middle;
    margin-left: 0.1rem;
}
.install .apple .zi{
    font-size: 0.375rem;
    color: #a9aaab;
    margin-top: 0.39rem;
}
.install .apple .liao-qr a{
    display: inline-block;
    width: 3rem;
    height: 3rem;
    margin: 0.73rem 0;
    /*background:url("../images/liao.png")no-repeat 100% / cover;*/

}
.apple .liao-qr a img{
    width: 3rem;
    height: 3rem;
}
.install .apple .hand img{
    width:0.45rem;
    height:0.37rem ;
    margin-right: 0.1rem;

}
.install .apple .hand{
    color: #34c9ad;
    font-size: 0.375rem;
}
.load-btn{
    display: inline-block;
    width:5.25rem;
    height: 1.34rem;
    line-height: 1.34rem;
    color: #fff;
    background-color: #34c9ad;
    font-size: 0.42rem;
    border:none;
    outline: none;
    border-radius:0.67rem 0.67rem 0.67rem 0.67rem;
    margin-top: 0.3rem;
}
.install .apple .zi-b{
    font-size: 0.34rem;
    color: #a9aaab;
    margin: 0.37rem 0;
}
.install-popup{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top:0;
    text-align: center;
}
.install-popup .xx{
    width:0.63rem;
    height: 0.625rem;
    display: inline-block;
    background:url("../images/xx.png")no-repeat 100% /cover;
    position: absolute;
    right: 0.375rem;
    top: 0.375rem;
}
.popup-warp{

    display: inline-block;
    margin-top: 1.5rem;
    width:8.5rem;
    height:85%;
    background-color: #fff;
    border-radius: 0.1rem;
    padding: 0.156rem 0;
    /*height: 12rem;*/
    overflow: auto;
    position: relative;
}
.popup-warp .high{
    color: #e20c0c;
    font-size: 0.48rem;
}
.popup-warp .high img{
    width:0.61rem;
    height: 0.61rem;
    vertical-align: -0.15rem;
    margin-right: 0.15rem;
}
.popup-warp .high p{

    font-size: 0.28rem;
    padding:0.15rem;
    border-bottom: 1px solid #c9c9c9;
}
.popup-warp .step{
    padding:0.156rem 0.4rem;

}
.popup-warp .step p{
    font-size: 0.31rem;
    color: #333;
    font-weight: bold;
    text-align: left;
}
.popup-warp .step .step1{
    width:4.16rem;
    height:2.8rem;
    margin:0.2rem 0;
}
.popup-warp .step .step2{
    width:7.03rem;
    height:8.25rem;
    margin:0.2rem 0;
}
.popup-warp .step span{
    font-size:0.31rem;
    color: #e20c0c;
    font-weight: bold;
}